{% extends 'base.html.twig' %}


{% block body %}
<h1 class="title_koin">Affichage des fiches</h1>

    <button type="button" class="btn btn-success btn-xs "><a href="{{ path('admin_fiche_add') }}">Ajouter un fiche</a></button>
    <br><br>
    <table class="table">

        <tr>
            <th>id</th>
            <th>Fiche</th>
            <th>Voir </th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>

    {% for fiche in fiches %}
        <tr>
            <td>{{ fiche.id }}</td>
            <td>{{ fiche.plantName }}</td>
            <td><p><a href="{{ path('admin_fiche_show', {"id":fiche.id}) }}"><i class="fa fa-eye  color-marron-koin" aria-hidden="true"></i></a></p></td>
            <td> <p>   <a href="{{ path('admin_fiche_edit',{ 'id'   : fiche.id }) }}"><i class="fa fa-pencil-square  color-marron-koin" aria-hidden="true"></i></a></p></td>
            <td><p><a onclick="return confirm('Etes vous supprimer cette fiche?');" href="{{ path('admin_fiche_delete',{ "id": fiche.id }) }}"><i class="fa fa-trash  color-marron-koin" aria-hidden="true"></i></a></p></td>
        </tr>



    {% endfor %}

    </table>
{#    <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>#}
{% endblock %}