{% extends 'base.html.twig' %}


 {% block title %}{{ fiche.plantName }}!{% endblock %}
{% block body %}


 <ul class="list-group">
  <li class="list-group-item">{{fiche.plantName }}</li>
  <li class="list-group-item">{{ fiche.conseil }}</li>
  <li class="list-group-item">{{ fiche.descriptif }}</li>
  <li class="list-group-item">{{ fiche.arrosage }}</li>
  <li class="list-group-item">{{ fiche.conseil }}</li>
 </ul>


{% endblock %}



