<div class="container big-header-koinbio">
{#    <div class="col-4 wrap-hambuger"><i class="fa  fa-bars fa-2x" aria-hidden="true"><span> Menu</span> </i></div>#}
{#    <div class="col-4 wrap-logo"><a href="{{ path('index') }}"><img src="{{ asset('build/images/logo-koinbio.png') }}" alt=""></a></div>#}
{#    <div class="col-4 wrap-search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></div>#}
</div>
<div id="acces_wrap_absolute">
<div class="item_acces"><i class="fa fa-file fa-2x" aria-hidden="true"></i></div>
<div class="item_acces"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></div>
<div class="item_acces"></div>
    <div class="item_acces"></div>
    <div class="item_acces"></div>

</div>
<div class="color-kaki-koin ">
    <div class="wrap-logo"><a href="{{ path('index') }}"><img src="{{ asset('build/images/logo-koinbio.png') }}" alt=""></a></div>
        {% if app.user %}

        <div class="little_nav2">

            <div class="" style="font-weight: bold;"><a href="">{{app.user.username}} </a> </div>
            <div class="" ><a href="{{ path("logout") }}">Se deconnecter</a></div>

            <div  class=""><a href="{{ path('compte_profil') }}">Mon compte</a>
            </div>
        </div>
        {% else %}
            <div class="little_nav2">
                <div class="" ><a href="{{ path("security_login") }}">Se connecter</a> </div>
                <div class=""><a href="{{ path("Registration_register") }}">S'inscrire</a> </div>
            </div>
        {% endif %}
    </div>






