<div class="big-header-koinbio">
{#    <div class="col-4 wrap-hambuger"><i class="fa  fa-bars fa-2x" aria-hidden="true"><span> Menu</span> </i></div>#}
{#    <div class="col-4 wrap-logo"><a href="{{ path('index') }}"><img src="{{ asset('build/images/logo-koinbio.png') }}" alt=""></a></div>#}
{#    <div class="col-4 wrap-search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></div>#}
</div>
<div id="acces_wrap_absolute">




    {% if is_granted('ROLE_USER') %}
        <div class="item_acces"><a href="{{ path('compte_profil') }}"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a></div>
        <div class="item_acces"><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></div>
        <div class="item_acces"><a href="{{ path('user_rubriques') }}"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i></a></div>
    {% else %}
            <div class="item_acces"><a href="{{ path('Registration_register') }}"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a></div>
            <div class="item_acces"><a href="{{ path('security_login') }}"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></a></div>
    {% endif %}




    <div class="item_acces"><a href="{{ path('articles') }}"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i></a></div>
    <div class="item_acces"><a href="{{ path('fiches') }}"><i class="fa fa-pagelines fa-2x" aria-hidden="true"></i></a></div>
    <div class="item_acces"><a href="{{ path('fiches') }}"><i class="fa fa-picture-o fa-2x" aria-hidden="true"></i></a></div>



    {% if is_granted('ROLE_ADMIN') %}
        <div class="item_acces"><a href="{{ path('access_admin') }}"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a></div>
    {% endif %}

</div>


<div id="reseaux_wrap_absolute">
    <div class="item_acces"><a href="{{ path('index') }}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></div>
    <div class="item_acces"><a href="{{ path('info_site') }}"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></div>
    <div class="item_acces"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div>
    <div class="item_acces"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></div>
    <div class="item_acces"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></div>
</div>



<div class="color-kaki-koin ">
    <div class="wrap-logo"><a href="{{ path('index') }}"><img src="{{ asset('build/images/logo-koinbio.png') }}" alt=""></a></div>
{#        {% if app.user %}#}

{#        <div class="little_nav2">#}

{#            <div class="" style="font-weight: bold;"><a href="">{{app.user.username}} </a> </div>#}
{#            <div class="" ><a href="{{ path("logout") }}">Se deconnecter</a></div>#}

{#            <div  class=""><a href="{{ path('compte_profil') }}">Mon compte</a>#}
{#            </div>#}
{#        </div>#}
{#        {% else %}#}
{#            <div class="little_nav2">#}
{#                <div class="" ><a href="{{ path("security_login") }}">Se connecter</a> </div>#}
{#                <div class=""><a href="{{ path("Registration_register") }}">S'inscrire</a> </div>#}
{#            </div>#}
{#        {% endif %}#}
    </div>






