<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}koinBio!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
{#        {{ dump(message) }}#}
        <div class="alert">   {{ message }} </div>

    {% endfor %}


    {% for message in app.flashes('notice') %}
        {#        {{ dump(message) }}#}
        <div class="alert">   {{ message }} </div>

    {% endfor %}


    {% for message in app.flashes('success') %}
        {#        {{ dump(message) }}#}
        <div class="alert">   {{ message }} </div>

    {% endfor %}

        {% block body %}









        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}" type="application/javascript"></script>



        {% endblock %}
    </body>
</html>
