<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}koinBio!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <nav>
        <div class="logo_site"></div>
        <ul>
            <li><a href="{{ path("index") }}">Acceuil</a></li>

            <li><a href="">Qui sommes-nous</a></li>
            <li><a href="">Compositions</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Galerie</a></li>
        </ul>

    </nav>
    {% if app.user %}
    <div class="little_nav">
        <div class="item-little-nav">bouttons réseaus sociaux</div>


        <div class="item-little-nav" style="color: red; font-weight: bold;">{{app.user.username}} </div>
        <div class="item-little-nav"><a href="{{ path("logout") }}">Se deconnecter</a></div>
    </div>

        {% else %}

            <div class="little_nav">
                <div class="item-little-nav">bouttons réseaus sociaux</div>
                <div class="item-little-nav"><a href="{{ path("security_login") }}">Se connecter</a> </div>
                <div class="item-little-nav"><a href="{{ path("Registration_register") }}">S'inscrire</a> </div>

            </div>

    {% endif %}
</header>

{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    {#        {{ dump(message) }}#}
    <div class="alert">   {{ message }} </div>

{% endfor %}


{% for message in app.flashes('notice') %}
    {#        {{ dump(message) }}#}
    <div class="alert">   {{ message }} </div>

{% endfor %}


{% for message in app.flashes('success') %}
    {#        {{ dump(message) }}#}
    <div class="alert">   {{ message }} </div>

{% endfor %}





{% block body %}

{% endblock %}




{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('mon_app') }}



{% endblock %}
</body>
</html>
