<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}koinBio!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{#        {{ encore_entry_link_tags('test') }}#}
    {% endblock %}
</head>
<body>
{% include 'blocks/header.html.twig' %}






{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    {#        {{ dump(message) }}#}
    <div class="alert alert-success  text-center" role="alert">  {{ message }} </div>

{% endfor %}


{% for message in app.flashes('notice') %}
    {#        {{ dump(message) }}#}
    <div class="alert alert-info  text-center" role="alert">  {{ message }} </div>

{% endfor %}




{% for message in app.flashes('error') %}
    {#        {{ dump(message) }}#}
    <div class="alert alert-danger  text-center" role="alert">   {{ message }} </div>

{% endfor %}






<div class="container">

    {% block body %}






    {% endblock %}


</div>

{% include 'blocks/footer.html.twig' %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('mon_app') }}

{% endblock %}
</body>
</html>
