<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}koinBio!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<header>
    <nav>
        <div class="logo_site"></div>
        <ul>
            <li><a href="{{ path("index") }}">Acceuil</a></li>

            <li><a href="">Qui sommes-nous</a></li>
            <li><a href="">Compositions</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Galerie</a></li>
        </ul>

    </nav>
    {% if app.user %}
    <div class="little_nav">
        <div class="item-little-nav">bouttons réseaus sociaux</div>


        <div class="item-little-nav" style="color: red; font-weight: bold;">{{app.user.username}} </div>
        <div class="item-little-nav"><a href="{{ path("logout") }}">Se deconnecter</a></div>
    </div>

        {% else %}

            <div class="little_nav">
                <div class="item-little-nav">bouttons réseaus sociaux</div>
                <div class="item-little-nav"><a href="{{ path("security_login") }}">Se connecter</a> </div>
                <div class="item-little-nav"><a href="{{ path("Registration_register") }}">S'inscrire</a> </div>

            </div>

    {% endif %}
</header>

{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    {#        {{ dump(message) }}#}
    <div class="alert">   {{ message }} </div>

{% endfor %}


{% for message in app.flashes('notice') %}
    {#        {{ dump(message) }}#}
    <div class="alert">   {{ message }} </div>

{% endfor %}


{% for message in app.flashes('success') %}
    {#        {{ dump(message) }}#}
    <div class="alert">   {{ message }} </div>

{% endfor %}





{% block body %}

{% endblock %}




{% block javascripts %}
    {{ encore_entry_script_tags('app') }}



{% endblock %}
</body>
</html>
