{% extends 'base.html.twig' %}


{% block body %}

    <h1>Tous les users</h1>

    {% for user in users%}
{#{{ dump(user) }}#}
    <ul>
        <li>{{ user.email }}</li>
        <li>{{ user.firstname }}</li>
        <li>{{ user.lastname }}</li>
        <li>{{ user.commune }}</li>
        <li><button><a href="{{ path('admin_show_user',{'id': user.id}) }}">Voir</a></button></li>
        <li><button><a href="{{ path('admin_edit_user', {'id':user.id}) }}">Editer</a></button></li>
        <li><button><a href="{{ path('admin_delete_user', {'id':user.id}) }}">Supprimer</a></button></li>

    </ul>
        <hr>
    {% endfor %}


{% endblock %}
