{% extends 'base.html.twig' %}

{% block title %}Affichage  des utilisateurs {% endblock %}
{% block body %}

    <div class="wrap_title_koinbio">  <h1 class="title_koinbio">Affichage  des utilisateurs</h1></div>

    <button type="button" class="btn btn-success btn-xs "><a href="{{ path('security_admin_register') }}">Ajouter un utilisateur</a></button>
    <br><br>
    <table class="table">

        <tr>
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom </th>
            <th>Commune</th>
            <th>Voir</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>

        {% for user in users %}
{#            {{ dump(user) }}#}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td> {{ user.commune }}</td>
                <td><a href="{{ path('admin_show_user',{'id': user.id}) }}">Voir</a></td>
                <td><a href="{{ path('admin_edit_user', {'id':user.id}) }}">Editer</a></td>
                <td><a onclick="return confirm('Etes vous supprimer cette fiche?');" href="{{ path('admin_delete_user', {'id':user.id}) }}">Supprimer</a></td>
            </tr>



        {% endfor %}

    </table>

{% endblock %}


