{% extends'base.html.twig' %}

{% block title %} L'utilisateur {{ user.username }} {% endblock %}


{% block body %}
    <h1 class="title_koinbio"> {{ user.username }}</h1>

    <ul>
        <li>{{ user.email }}</li>
        <li>{{ user.username }}</li>

        <li>{{ user.commune }}</li>
        {#        <li>{{ user.fiche.name }}</li>#}
    </ul>

{% endblock %}