{% extends 'base.html.twig' %}

{% block title %}
    {{ article.titre }}
{% endblock %}


{% block body %}
    <h1 class="title_koinbio">{{ article.titre }}</h1>

    <ul class="list-group">
        <li class="list-group-item">{{article.titre }}</li>
        <li class="list-group-item">{{ article.auteur }}</li>
        <li class="list-group-item">{{ article.createdAt|date("d/m/Y") }}</li>
        <li class="list-group-item">{{ article.corp }}</li>
        <li class="list-group-item"><span class="font-weight-bold"> Aperçu : </span><img src="{{ asset('uploads/articles/'~ article.image ) }}" alt="{{ article.image }}" title="{{ article.image }}" width="30%" height="auto"></li>

    </ul>
{% endblock %}



