{% extends 'base.html.twig' %}

{% block title %}Mes fiches{% endblock %}

{% block body %}

    <div class="wrap_title_koinbio"><h1 class="title_koinbio">Mes fiches</h1></div>
    <p class="text-left">Ajouter une fiche de plante de votre choix.Si vous l'illustrer avec un photo c'est mieux.</p>
    <a href="{{ path('add_fiche') }}" class="koin_btn" role="button">Créer une fiche</a>
    <br><br>

{#   <h1><span>Nombre de fiches : </span> {{   fiches|length   }} </h1>#}


       {% for fiche in fiches %}
{#           {{ dump(fiche) }}#}
    <div class="wrap_fiche">
        <div class="img_side_fiche">
            <div class="fiche_name">{{ fiche.plantName }}</div>
            <div class="fiche_img">
                <img src="{{ asset('uploads/fiches/'~ fiche.image ) }}" alt="">
            </div>

        </div>
        <div class="infos_side_fiche">
            <div class="infos_name">
            Infos supplémentaires
            </div>
            <div class="infos_contain_all">
{#                <div>#}
                    <p class="list_title_fiche">Le nom de la plante</p>
                    <p class="list_intitule_fiche"> {% if fiche.plantName is not null %}{{ fiche.plantName }} {% else %}  <i>Non renseigné</i> {% endif %}</p>
                    <p class="list_title_fiche">Type de plante</p>
                    <p class="list_intitule_fiche">{% if fiche.typePlante is not null %} {{ fiche.typePlante.name }} {% else %} <i> Non renseigné </i>{% endif %}</p>
                    <p class="list_title_fiche">Catégorie de la plante</p>
                    <p class="list_intitule_fiche"> {% if fiche.categorieFiche is not null %} {{ fiche.categorieFiche.name }} {% else %} <i> Non renseigné </i>{% endif %}</p>
                    <p class="list_title_fiche">Date de création ou d'achat</p>
                    <p class="list_intitule_fiche">{% if fiche.dateBirthOrBuy is not null %} Le {{ fiche.dateBirthOrBuy|date('d/m/Y') }} {% else %}  <i>Non renseigné</i> {% endif %}</p>
                    <p class="list_title_fiche">La taille de la plante </p>
                    <p class="list_intitule_fiche">{% if fiche.taille is not null %} {{ fiche.taille }} cm  {% else %} <i> Non renseigné</i> {% endif %}</p>
                    <p class="list_title_fiche">La raison du  choix de cette plante</p>
                    <p class="list_intitule_fiche">{% if fiche.WhyFiche is not null %} {{ fiche.WhyFiche }} {% else %}  <i>Non renseigné </i>{% endif %} </p>
                    <p class="list_title_fiche">Les bienfaits de cette plante</p>
                    <p class="list_intitule_fiche">{% if fiche.bienfaits is not null %} {{ fiche.bienfaits }} {% else %}  <i>Non renseigné</i> {% endif %} </p>

{#                </div>#}
            </div>
        </div>
        <div class="bottom_fiche">
            <p class="fiche_created">Fiche crée le {{ fiche.createAt|date('d/m/Y')}} </p>
            <p class="see_fiche"><a href="{{ path('my_fiche_show', {'id': fiche.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a></p>


        </div>

    </div>
        {% endfor %}

{% endblock %}
